<div class="container" style="max-width: 800px;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="btn btn-secondary" [routerLink]="['/event-listings/'+ eventTypeId]" role="button">
            <i class="fad fa-arrow-alt-left fa-fw"></i> Event Listings</a>
    </nav>

    <main role="main">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body px-sm-5 py-5">

                    <div class="text-center" *ngIf="loaded && event">
                        <h5 class="mb-3">{{ event[0].title }} - {{ event[0].start_date | date:'EEEE'}} ({{ event[0].start_date | date:'M-d-y	'}})</h5>
                        <h6 class="text-danger mb-3">
                            <strong>{{ event[0].start_date | date:'EE'}}, {{ event[0].start_date | date:'MMM d, y'}} 
                                <br> {{ event[0].start_date | date:'shortTime'}} - {{ event[0].end_date | date:'shortTime'}}</strong>
                        </h6>
                        <p class="card-text">{{ event[0].address_street}}, {{ event[0].city }}<br>{{ event[0].state_abbr }} {{ event[0].postal_code }}</p>

                        <div class="card mx-auto mb-4" style="max-width: 200px;" *ngIf="checkInDataCount">
                            <div class="card-body">
                                <strong>Checked-In:</strong>
                                <h4><span class="text-success">{{ checkInDataCount.checkin_out }}</span></h4>
                            </div>
                        </div>
                    </div>

                    <hr class="my-5">
                    
                    <form [formGroup]="searchForm" class="text-left">
                    <h4>Find participant by</h4>
                    <div class="mb-4" style="max-width: 240px">
                        <label for="find_num">Ticket #:</label>
                        <div class="row">
                            <div class="col" style="padding-right:0">
                                <input type="text" id="find_ticket" name="find_ticket" class="form-control form-control-lg">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-info btn-lg" onclick="searchTicket(document.querySelector('#find_ticket'));">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="find-by-num row">
                        <div class="col-sm-6">
                            <label for="find_num">Phone #:</label>
                            <input type="text" id="find_num" name="find_num" class="form-control form-control-lg">
                        </div>
                        <div class="col-sm-6">
                            <label for="find_name">Name:</label>
                            <input type="text" id="find_name" name="find_name" class="form-control form-control-lg">
                        </div>
                    </div>

                    <div id="loading" class="text-muted mb-2 mt-2">Enter phone number or name to start searching
                    </div>
                    <div id="autocomplete-contact"></div>

                    <button class="btn btn-secondary" onclick="document.querySelector('#clear-btn').reset();">Clear
                        Form</button>
                    </form>

                    <hr class="my-5">

                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control form-control-lg" id="firstName" placeholder="First Name" aria-label="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control form-control-lg" id="lastName" placeholder="Last Name" aria-label="Last Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" id="inputAddress" placeholder="Street Address" aria-label="Street Address">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" id="inputCity" placeholder="City" aria-label="City">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <select id="inputState" class="form-control form-control-lg" aria-label="State">
                                    <option selected>State...</option>
                                    <option>California</option>
                                    <option>Nevada</option>
                                    <option>New York</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control form-control-lg" id="inputZip" placeholder="Zip" aria-label="Zip">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block">Check-In</button>

                    </form>

                </div>
            </div>
        </div>
    </main>

</div>